<%- include('./includes/nav')%>

<div class="container">
  <!-- <form action="#" class="form-inline">
    <button  style="margin:50px 0 20px 0; " type="submit" class="btn btn-dark btn-outline-warning">Return Book <i class="mdi mdi-badge-account-horizontal-outline:"></i></button>
  </form> -->

    <table style="margin-top:50px;" class="table  table-striped ">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">BookId</th>
            <th scope="col">BookName</th>
            <!-- <th scope="col">Author</th> -->
            <!-- <th scope="col">Description</th> -->
            <th scope="col">UserId</th>
            <th scope="col">Issued On</th>
            <th scope="col">Due Date</th>
            <th scope="col">Returned Date</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<users.length;i++) { if(users[i].user_id==userid) { %>
                
                <tr>
                  <th scope="row"><%= i+1 %></th>
                  <td><%= users[i].book_id  %></td>
                  <td><%= users[i].book_name %></td>
                  <!-- <td><%= users[i].authorname %></td> -->
                  <!-- <td><%= users[i].description %></td> -->
                  <td><%= users[i].user_id %></td>
                  <td><%= users[i].issued_date %></td>
                  <td><%= users[i].due_date %></td>
                  <td><%= users[i].return_date?users[i].return_date:'Return pending' %></td>
                  <% if(users[i].return_date) { %>
                    <td style="color:#3fd94e;">Returned</td>
                  <% } else { %>
                    <td> <form action="returnbook/<%= users[i]._id%>"  class="form-inline">
                        <button   type="submit" class="btn btn-sm btn-dark btn-outline-warning">Return Book <i class="mdi mdi-badge-account-horizontal-outline:"></i></button>
                      </form></td>
                  <% } %>

                </tr>
              <%} } %>
        
        </tbody>
      </table>

 </div>



<%- include('./includes/footer')%>